
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<script>
    function helpMe() {
        $("#sendId").on("click", "sendId", function () {
            $.ajax({
                type: 'GET',
                url: "client/index",
                success: function () {
                    $("#labelId").val.html(Response);
                    alert("everything is cool");
                },
                error: function () {
                    alert("oops...");
                }
            });
        })
    }
</script>

<a id="sendId" href="helpMe()" value="hahah">Haha</a>
<label id="labelId" value="heheh">Hoho</label>*@